body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    flex: 1;

}

.content {
    padding: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}