/* Reset some default styles for the page */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* Ensure body covers the full height of the viewport */
    display: flex;
    flex-direction: column;
}

.wrapper {

    border: 1px solid red;
    padding: 50px;
    /* Make the wrapper fill the remaining vertical space */
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: sticky;
    bottom: 0;
    border: 1px solid rgb(168, 255, 148);
}

p {}